body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url('j2.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form#loginForm {
    background-color: #c10404;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form#loginForm div {
    margin-bottom: 15px;
}

form#loginForm label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

form#loginForm input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form#loginForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00305c;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form#loginForm button[type="submit"]:hover {
    background-color: #45a049;
}